.sort-button {
  margin: 5px
}

.bar-number {
  color: white;
  text-align: center
}

.form-component {
  padding: 10px;
  color: #343A40;
  font-weight: bold
}

.myNav {
  height:100px;
}

.navBrand {
  font-size: 30px
}

.form-button {
  padding-left: 10px;
  padding-right: 10px;
}